[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "texter"]
	path = texter
	url = https://github.com/simmieyungie/texter
	shallow = true
	registered = true
